# General
FILE_CACHE=cache_ip.yaml

ENABLE_FIRMWARES=tasmota
# Path to the bash script that performs network scanning.
# The script must output YAML in the format: "ip: mac"
SCAN_SCRIPT=/config/custom_components/device_manager/provisioning/scripts/macs_kea.sh
# Scan script parameters for SSH access
SCAN_SCRIPT_PRIVATE_KEY_FILE=private_key_file
SCAN_SCRIPT_SSH_USER=user
SCAN_SCRIPT_SSH_HOST=x.x.x.x

# Device access
DEVICE_PASS=p4ssW0rD

# NTP
NTP_SRV1=pool.ntp.org

# WiFi
WF1_SSID=
WF1_PASSWORD=
WF2_SSID=
WF2_PASSWORD=

# MQTT Bus
BUS_HOST=bus
BUS_PORT=1883
BUS_USERNAME=admin
BUS_PASSWORD=mqtt_password

# Zigbee Bridge
BRIDGE_HOST=
BRIDGE_DEVICES_CONFIG_PATH=/home/pi/zigbee2mqtt/data/devices.yaml
